<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block titre %}Administration{% endblock %}</title>
		<link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('css/rouge/rouge.css') }}" rel="stylesheet" type="text/css">
		<style>
		tr
		{
		border: solid black 1px;
		}
		td
		{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
		}
		#tableau
		{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		}
		#presentation
		{
		width: 50%;
		margin-bottom: 50px;
		}
		#presentation tr
		{
		border: none;
		}
		#logoadmin
		{
		background-color: red;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
		box-shadow: 0px 0px 15px black inset;
		}
		nav
		{
		height: 100%;
		}
		#description
		{
		width:80%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		}
		textarea
		{
		width: 100%;
		height: 100px;
		maxwidth: 100%;
		minwidth: 100%;
		}
		input[type='text']
		{
		width: 100%;
		}
		input[type='submit']
		{
		margin-left: 45%;
		width: 10%;
		}
		</style>
		<script type="text/javascript" src="{{ asset('css/tinymce/tinymce.min.js')}}"></script>
		<script type="text/javascript">
		tinymce.init({
			language : 'fr_FR',
			selector: "textarea.EditeMoi",
			plugins: "link image jbimages",
			toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages",
			relative_urls: false
		 });
		</script>
    </head>
 
    <body>
		<header class="row-fluid">
			<h2 class="span4" id="slogan" style="padding-left:5%;">
				{% block soustitre %}Administration{% endblock %}
			</h2>
		</header>
		<section class="row-fluid">
		<nav class="span2">
		<ul>
		<li id="bleu"><a href="{{ path('Acceuil')}}">Acceuil du site</a></li>
		<li id="bleu"><a href="{{ path('AdminAffichage') }}">Acceuil de l'administration</a></li>
		<br/>
		<li id="noir"><a href="{{ path('logout')}}">Déconnection</a></li>
		<br/>
		<li id="rouge"><a href="{{ path('AdminCreer',{'type' : 'agence','id' : 0}) }}">Créer une agence</a></li>
		<li id="rouge"><a href="{{ path('AdminCreer',{'type' : 'tarif','id' : 0}) }}">Créer un tarif</a></li>
		<br/>
		<li id="rouge"><a href="{{ path('AdminFlashNews')}}">Flash News</a></li>
			{% block body %}
			<h3>Heuuu ... Il n'y a rien !</h3>
			{% endblock %}
		</article>
		</section>
		<footer class="row-fluid">
		Baptiste Saclier 2013<br/>
		Site web obtimisé pour <a href="http://www.google.fr/intl/fr/chrome/browser/">Google Chrome</a><br/>
		<a href="{{ path('Acceuil')}}">Acceuil du site</a>
		</footer>
    </body>
</html>